Why don't x.509 policy constraints prevent this site from validating?

https://test3.fpki.18f.gov

The above host uses a FPKI TOCA-issued certificate, with an installed 7-certificate chain (including the EE cert) that proceeds up to Identrust's `DST ACES CA X6` root. 

This root cross-signed the Federal Common Policy CA, [as discussed on Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1037590#c21), and Identrust has said they will revoke the cross-signature by February 19th.

However, I believe the `Federal Common Policy CA` in this chain has an x.509 [Policy Constraints extension](https://tools.ietf.org/html/rfc5280#section-4.2.1.11) of `inhibitPolicyMapping` (`skipCerts=1`).

```
   If the inhibitPolicyMapping field is present, the value indicates the
   number of additional certificates that may appear in the path before
   policy mapping is no longer permitted.  For example, a value of one
   indicates that policy mapping may be processed in certificates issued
   by the subject of this certificate, but not in additional
   certificates in the path.
```

I've validated that `libcurl`, Chrome, and Firefox all successfully validate the chain at https://test3.fpki.18f.gov as chaining to a trusted root. Should this be the case?

What operating system(s) have you tested Chrome with?  Chrome uses OS libraries to validate certificate chains, so results may differ.


Sorry, good point -- I personally tested Chrome on Ubuntu 15.10, with an up-to-date `ca-certificates` package and unmodified trust store.


@konklone I've manually explored the test3 cert chain using a bouncy castle based app.

```
- DST ACES CA X6- Subject Key Identifier: 0x0972 064E 1843

  - IdenTrust ACES CA 1
  >  Auth Key Identifier: 0x0972 064E 1843 0FE5 D6CC
     Subject auth Key Identifier: 0xE633 0963

    - Federal Bridge CA 2013
    >  Auth Key Identifier: 0xE633 0963 89B5
       Subject Key Identifier: 0xBBCE 7471 8334 4E59 3245
       Inhibit any policy (Skip Certificates: 0)

       - Federal Common Policy CA
       > Auth Key Identifier: 0xBBCE 7471 8334 4E5
         Subject Key Identifier: 0xAD0C 7A75 5CE5
         Policy Mapping [1]:
            > Issuer Domain Policy: FbcaMediumPolicy (2.16.840.1.101.3.2.1.3.3)
                 - Subject Domain Policy: 2.16.840.1.101.3.2.1.3.6
         Inhibit any policy (Skip Certificates: 0)
.
.
- US Treasury Root CA is sub to by Federal Common Policy CA
Policy Mapping [1]:
    Issuer Domain Policy: FbcaRudimentaryPolicy (2.16.840.1.101.3.2.1.3.1)
    Subject Domain Policy: 2.16.840.1.101.3.2.1.5.2
.
- OCIO CA sub to US Treasury Root CA
 No policy mapping exists.  It just has its own policies
Certificate Policy [1]:
    PolicyIdentifier: 2.16.840.1.101.3.2.1.5.2
.
.
.
```

According to [MS](https://technet.microsoft.com/en-us/library/cc737026%28v=ws.10%29.aspx): _if a qualified subordinate CA policy has an inhibit policy mapping of 0, then that policy can only be mapped one level below the qualified subordinate CA in the trust hierarchy_

Since F-CA constrains one level on CP-CA and CP-CA constrains one level on Treas-CA , path validation will succeed.


@mzia  The end entity certificate asserts 2.16.840.1.101.3.2.1.5.3 (treasury-basic)

2.16.840.1.101.3.2.1.3.2 (fbca-basic) is mapped to 2.16.840.1.101.3.2.1.5.3 (treasury-basic)

No issues with the explanation of this cert path, however, I can't seem to manually build a policy tree for https://test4.fpki.18f.gov, because there is no mapping at all to 2.16.840.1.101.3.2.1.3.2 (fbca-basic).

While the two are not directly related, I have to ask the question:  What is the initial input to requireExplicitPolicy when the path is being evaluated?  If it is not true (or set along the way by an intermediate), the policy assertions and mappings are of no value at all.


Repeating @grandamp's post-edit additions for those watching only over email:

> No issues with the explanation of this cert path, however, I can't seem to manually build a policy tree for https://test4.fpki.18f.gov, because there is no mapping at all to 2.16.840.1.101.3.2.1.3.2 (fbca-basic).
> 
> While the two are not directly related, I have to ask the question: What is the initial input to requireExplicitPolicy when the path is being evaluated? If it is not true (or set along the way by an intermediate), the policy assertions and mappings are of no value at all.

And I think the answer to that question is going to be per-client. I evaluated Firefox (latest stable, v44), Chrome (latest stable, v48) on Ubuntu 15.10, and cURL using the following version string:

```
curl 7.43.0 (x86_64-pc-linux-gnu) libcurl/7.43.0 GnuTLS/3.3.15 zlib/1.2.8 libidn/1.28 librtmp/2.3
```

And with cURL using the following version string:

```
curl 7.35.0 (x86_64-pc-linux-gnu) libcurl/7.35.0 OpenSSL/1.0.1f zlib/1.2.8 libidn/1.28 librtmp/2.3
```

(Note that one uses GnuTLS, one uses OpenSSL.)


also cc @rlbmoz @pzb


To follow up on the prior question, does the CAB Forum have any requirements on initial inputs for path validation?

RFC 5280 is referenced in  their document titled "[RECOMMENDATIONS for the PROCESSING of EXTENDED VALIDATION SSL CERTIFICATES](https://cabforum.org/wp-content/uploads/Recommendations-for-the-Processing-of-EV-SSL-Certificates.v.2.0.pdf)".  However, there are no specifics beyond referencing section 6 of RFC 5280.

I'm most interested in what (browser) developers have used for the default initial values of the inputs specified in section 6.1.1 of RFC 5280.


@grandamp there are no requirements on the inputs.  In general, browsers do not require any specific policy and do not do policy processing during path building.  The inputs are basically:
1. The current date & time
2. The chain sent by the server
3. A set of trusted CA-certificates that form the trust anchor list, plus additional constraints (like EKU restrictions)
4. A set of "known" cross CA-certificates

The browser filters 2-4 using 1 to remove expired and not-yet-valid certificates.  Assuming the set remaining in #2 is non-empty, attempt to build a chain to something in #3.  Add certificates from #4 as needed.

For  each chain built, calculate the intersection of any name constraints (which include the subject alt name entries in the end-entity certificate).  Compare the resulting set to the desired name.  If pass, then you are done.  Else, using #2 and #3 try to build a different chain and repeat.

Once you have a "good" chain, check the policies in the final certificate against a list of known EV policies and associated trust anchor DNs.  If the policy is known and the trust anchor matches, then set certificate type to EV.  Else set certificate type to non--EV.

There are more rules about how to decide which chain to test first, but this should be a fairly good introduction.


Gotcha.  This is one area where the intent of the Federal PKI is a bit different.  

I.e., there are quite a few different policies that indicate the differences between certificates.  I.e., those issued to humans vs. those issued to devices, as well as those certificates with private keys in hardware vs. software.

Here is a public document that may help to explain (one) approach to certificate validation within the FPKI.  In this case, using SCVP (RFC 5055).

[treas_scvp_profile_v1.0.pdf](https://github.com/18F/fpki-testing/files/127310/treas_scvp_profile_v1.0.pdf)

Thank you for confirming!


@pzb Another thought regarding this behavior:  If a policy constraints extension (in one of the cross certificates in the path) included requireExplicitPolicy, and the extension were flagged critical, would this behavior change?


@grandamp if @rmhrisk's [2012 blog post](https://unmitigatedrisk.com/?p=24) is right, then I think the behavior would change:

> Most browsers and email clients support these concepts, however unfortunately not all of them support Name Constraints.
> 
> Despite that that they all do support honoring the RFC 3280 behavior for critical extensions (see section 4.2), which states:
> 
> > A certificate using system MUST reject the certificate if it encounters a critical extension it does not recognize
> 
> This means by marking the Name Constraints extension Critical those implementations that do not support the concept will “fail-closed”. 

Though I'm not sure if that's the behavior the FPKI intends from its entire client-base. 


Well, in this particular case, I'm asking a "would be" question, because the policyConstraints extension in the Symantec path does not require an explicit policy.

As to the original intent of this thread, I believe it has been established that the policyConstraints for this particular use case would appear to function correctly, regardless.

Should the Symantec path be opened as another "issue" since there is no mapping between "fbca-basic" and Symantec?  (your certificate asserts treasury-basic, which is equal to FBCA-basic, mapped via the COMMON signed Treasury Root CA Certificate).

While the question of, "how does this work?" has been answered for Symantec (requireExplicitPolicy is clearly false), the question remains...  What if the policyConstraints extension included requireExplicitPolicy=true?  Would the behavior be any different?


I have a batch script I used to use for creating the constrained PKI chains for testing purposes. It would not take too much to get it to reproduce this chain so this could be tested : https://unmitigatedrisk.com/?p=28. 

In thoery I should remember what windows does with this specific case but it has been too long, sorry/


The following post is by @grandamp, I'm moving it from email on his behalf with permission:

---

...by demonstration below, using the IdenTrust path should also fail if policy OIDs were being processed. 

Again, this confirms (to me) that browser-based certificate validation does not set the initial require explicit policy input to true.  My question, either by knowledge or testing, is to determine IF browsers would behave differently IF the policyConstraints extension asserted "requireExplicitPolicy" (because none of the certificates in the path assert this value). 

The only way I can describe it is by walking the certificate path, manually evaluating polices, assertions, and certificate extensions that impact path validation (from a policy OID perspective).  So, Lets walk the path: 

Your certificate asserts 2.16.840.1.101.3.2.1.5.3, which is Treasury Basic Assurance, in the certificatePolicies extension: 

```
[1]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.5.3 
```

The signer of your certificate "OCIO CA" also asserts that policy OID, as well as others: 

```
...
[2]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.5.3 
```

The signer of the "OCIO CA" certificate "US Treasury Root CA" asserts the follwing policies: 

```
...
[2]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.3.2 
...
```

-AND, has the following policy mappings- 

```
...
[2]Issuer Domain=2.16.840.1.101.3.2.1.3.2 
     Subject Domain=2.16.840.1.101.3.2.1.5.3 
```

It is this certificate that states **"FBCA Basic = Treasury Basic"**.  The signer of  "US Treasury Root CA" certificate is the "Federal Common Policy CA" which asserts the follwing policies: 

```
...
[2]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.3.2 
...
```

...

It also has the follwing extensions that tells the 5280 conforming software how to validate certificates signed by this CA, by altering the inputs (during validation): 

policyConstraints (see:  http://www.alvestrand.no/objectid/2.5.29.36.html) AND inhibitAnyPolicy (see: http://www.alvestrand.no/objectid/2.5.29.54.html) 

In this certificate, the policyConstraints states that inhibitPolicyMapping should be "TRUE" after skipCerts, meaning, do not process mapped policies for when you reach validate past the next 1 certificate.  (i.e., not past the US Treasury Root CA above)  You should note that the policyConstraints DOES NOT assert requireExplicitPolicy (this is my "what if" question). 

The inhibitAnyPolicy tells the conforming software to not process any assertion or mapping to the "wild card" policy OID of 2.5.29.32.0 (see:  http://www.alvestrand.no/objectid/2.5.29.32.0.html).  (the anyPolicyOID is not asserted in any of the certificates in the path, so this extension is of no value in this case). 

The signer of  "Federal Common Policy CA" certificate is the "Federal Bridge CA 2013" which asserts the follwing policies: 

```
[1]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.1.2 
...
```

-AND, has the following policy mappings- 

```
[1]Issuer Domain=2.16.840.1.101.3.2.1.1.2 
     Subject Domain=2.16.840.1.101.3.2.1.3.2 
...
```

It is this certificate that states **"ACES Identity = FBCA Basic"**.  There is also an inhibitAnyPolicy extesion in this certificate (again, anyPolicy is not asserted in any of the certificatePolicies extension) 

The signer of  "Federal Bridge CA 2013" certificate above is the "IdenTrust ACES CA 1" which asserts the follwing policies: 

```
...
[2]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.1.2 
...
```

There are no policy mappings in this certificate. 

The signer of  "IdenTrust ACES CA 1" certificate above is the "DST ACES CA X6" trust anchor, which asserts the follwing policies: 

```
[1]Certificate Policy: 
     Policy Identifier=2.16.840.1.101.3.2.1.1.1 
     [1,1]Policy Qualifier Info: 
          Policy Qualifier Id=CPS 
          Qualifier: 
               http://www.trustdst.com/certificates/policy/ACES-index.html 
```

There are no policy mappings in this certificate either.  So, I need to retract my statement that this certificate path _should_ be fine, because there is no mapping from `2.16.840.1.101.3.2.1.1.1` to `2.16.840.1.101.3.2.1.1.2`. 

I.e., 

DST ACES CA X6:  2.16.840.1.101.3.2.1.1.1 
  IdenTrust ACES CA 1:  2.16.840.1.101.3.2.1.1.2 (the policy tree would be null here, becasue there is no mapping (or assertion) of the 1.2 OID, or assumption of anyPolicy at the trust anchor) 
    Federal Bridge CA 2013: 2.16.840.1.101.3.2.1.1.2 -> 2.16.840.1.101.3.2.1.3.2 
      Federal Common Policy CA:  2.16.840.1.101.3.2.1.3.2 
        US Treasury Root CA:  2.16.840.1.101.3.2.1.3.2 -> 2.16.840.1.101.3.2.1.5.3 
          OCIO CA:  2.16.840.1.101.3.2.1.5.3 
            End Entity Cert:  2.16.840.1.101.3.2.1.5.3 

As with the Symantec root, there is no valid path if the software were evaluating the policy OIDs, because it would appear the initial input for require explicit policy is "false". 

Where my question about the policyConstraints extention _COULD_ effect the behavior of the browser path validation, is if one of the certificates in the path asserted a policyConstaints extension that has a value of "Require Explicit Policy".


The only thing I have to add here is that the mozilla::pkix library ignores
policy constraints.

https://dxr.mozilla.org/mozilla-central/source/security/pkix/lib/pkixcert.cpp#233

What's puzzling here is that the comment claims to apply a strict
constraint by default, but whatever it is clearly isn't causing a failure
here.  The most likely case might be that the comment is wrong.  (cc
@mozkeeler)


I imagine that comment refers to that mozilla::pkix never does policy mapping and always requires an explicit policy _when a policy is required_, as in verifying EV certificates. For DV certificates, policies are completely ignored.


Thank you for pinpointing the code.  Is this how Mozilla NSS works globally?  If so, this has some serious implications to those entities within the FPKI that use NSS for certificate validation on a web server.  If their intent is to only honor PIV (2.16.840.1.101.3.2.1.2.13) or CAC (SHA1 Hardware OID), then those web servers would not be able to tell the difference either.  (As in, FBCA Rudimentary would be equally trusted: 2.16.840.1.101.3.2.1.3.1)


Another note, if this is the way Mozilla analyzes paths, then it can not claim to be conformant to RFC 5280.  Meaning, it does not adhere to the CAB forum's document "RECOMMENDATIONS for the PROCESSING of EXTENDED VALIDATION SSL CERTIFICATES", section 9.  RFC 5280 is also mentioned in section 3 "Normative References" of the same document, yet I do not understand if the "Recommendation" is implying that you are, or are not, "compliant" if you do not conform to the "normative references".


@grandamp There are at least three different certification validation libraries that can be used with NSS.  The code above is from mozilla::pkix.  It is possible that others implement additional features such as policy mapping.

As to the compliance of any specific browser to the EV SSL processing doc, like all CA/Browser Forum documents, it is only a guideline.  The Forum does not mandate compliance with any of its guidelines, instead the publish them openly and invite others to require compliance.  For example, a federal agency could require that all TLS clients used in its environment are compliant with the recommendation.  I am unaware that any entity as mandated compliance with the Guideline you cite.


@pzb Thanks for the update.  What determines which validation library is used with NSS?  Platform? Configuration?


@grandamp It's up to the software that uses NSS.  Mozilla products (Firefox
and Thunderbird) use the mozilla::pkix library, as Peter mentions.  I'm not
aware of other software that does.

With moz::pkix, a relying party _can_ require a specific policy OID to be
present in a chain [1](and it appears that it will require it in every
certificate in the chain besides the trust anchor [2]).  However, as
@mozkeeler points out, Firefox doesn't require any particular OID to be
present for DV validation (only EV).

With regard to PIV/CAC -- note that the discussion we're having here of
moz::pkix is not really relevant to these validations.  Firefox/Thunderbird
don't do path validation on client certificates (that's up to the server),
so their behavior with regard to policies has no bearing on how they handle
PIV/CAC certs.  The only way the behavior of moz::pkix would affect
validation of those certs is if it were being used in some server-side
software, and as I said above, I'm not aware of any other software using it.

[1]
https://dxr.mozilla.org/mozilla-central/source/security/pkix/include/pkix/pkix.h#110
[2]
https://dxr.mozilla.org/mozilla-central/source/security/pkix/lib/pkixcheck.cpp#983

On Fri, Feb 19, 2016 at 7:49 AM, Todd Johnson notifications@github.com
wrote:

> @pzb https://github.com/pzb Thanks for the update. What determines
> which validation library is used with NSS? Platform? Configuration?
> 
> —
> Reply to this email directly or view it on GitHub
> https://github.com/18F/fpki-testing/issues/1#issuecomment-186242805.


@rlbmoz I think some server software derived from the old iPlanet code bases uses NSS, such as Red Hat/389 Directory Server and Red Hat/DogTag Certificate System.


Right, but they would be using libpkix or the other NSS chain validation
code, not moz::pkix.

On Fri, Feb 19, 2016 at 10:35 AM, Peter Bowen notifications@github.com
wrote:

> @rlbmoz https://github.com/rlbmoz I think some server software derived
> from the old iPlanet code bases uses NSS, such as Red Hat/389 Directory
> Server and Red Hat/DogTag Certificate System.
> 
> —
> Reply to this email directly or view it on GitHub
> https://github.com/18F/fpki-testing/issues/1#issuecomment-186319074.


I think we understand the reasons the path validates, so I will close the issue. Happy to reopen if need be!


Reopening for visibility, for a time.
